.navbar-brand {
    font-size: 28px;
} 

.navbar-nav {
    display: -webkit-inline-box !important;
}

.nav-link {
    cursor: pointer;
    font-size: 18px;
}

.active {
    color: #007bff !important;
}