<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Bem-vindo</h1>
        <p class="lead">Este site vai proporcionar um jeito fácil de localizar linhas e rotas do transporte público de Porto Alegre.</p>
        <hr class="my-4">
        <p>Escolha o que deseja pesquisar.</p>
        <div class="d-flex justify-content-start">
            <p class="lead mr-3">
                <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/onibus']">Pesquisar Ônibus</a>
            </p>
            <p class="lead mr-3">
                <a class="btn btn-success btn-lg" role="button" [routerLink]="['/lotacao']">Pesquisar Lotações</a>
            </p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <h2>Informações Técnicas</h2>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <p class="lead">Principais Técnologias:</p>
            <p>Nodejs, Angular e Docker</p>
            <p class="lead">Bibliotéca de Estilo:</p>
            <p>Bootstrap</p>
        </div>
        <div class="col-md-4">
            <p class="lead">Servidor:</p>
            <p>Centos 7</p>
            <p class="lead">Containers:</p>
            <p>Alpine, Portainer e NetData</p>
        </div>
        <div class="col-md-4">
            <p class="lead">Links:</p>
            <p><a href="http://54.39.20.13:19999/" target="_blank">NetData</a></p>
            <p><a href="http://54.39.20.13:9000/" target="_blank">Portainer</a> ( Usuário: admin | Senha: portainer )</p>
            <p>
                <a href="https://github.com/felipe-vsr/transportes-poa-api" target="_blank" class="mr-3">Github da API</a>
                <a href="https://github.com/felipe-vsr/transportes-poa" target="_blank" class="mr-3">Github do Site</a>
            </p>
        </div>
    </div>
    
    
    
    
    

</div>